<div class="row">
    <h4>Datosd el componente  Hijo</h4>
    {{ entrada | json }}
      <div class="col-sm-12">
        <div class="form-group">
          <label for="usr">Nombre:</label>
          {{ entrada.Nombre }}
        </div>
        <div class="form-group">
          <label for="usr">Apellido:</label>
          {{ entrada.Apellido }}
        </div>
         <div class="form-group">
          <label for="usr">Edad:</label>
           {{ entrada.Edad }}
        </div>
         <div class="form-group">
          <label for="usr">Documento:</label>
          {{ entrada.Documento }}
        </div>
  
        
  
      </div>
      
    </div>